@using BGTG.Entities.Core

@model BGTG.Web.ViewModels.POSViewModels.DurationByLCViewModels.DurationByLCViewModel

<div class="card">
    <div class="card-body">
        <input type="hidden" id="duration-by-lc-id" value="@Model.Id" />
        <h5 class="card-title fw-bold">
            Продолжительность по трудозатратам
        </h5>
        <p class="card-text">
            Продолжительность: <b>@Model.TotalDuration.ToString(AppData.DecimalFormat) мес.</b>
        </p>
        <p class="card-text">
            Подготовительный период: <b>@Model.PreparatoryPeriod.ToString(AppData.DecimalFormat) мес.</b>
        </p>
        <p class="card-text">
            Трудозатраты: <b>@Model.TotalLaborCosts.ToString(AppData.DecimalFormat) чел./час</b>
        </p>
        <p class="card-text">
            Количество работающих в бригаде: <b>@Model.NumberOfEmployees чел.</b>
        </p>
        <p class="card-text">
            Дата создания: <b>@Model.CreatedAt</b>
        </p>
        <p class="card-text">
            Проектировщик: <b>@Model.CreatedBy</b>
        </p>
        <div class="row">
            @if (Model.CreatedBy == User.Identity!.Name)
            {
                <div class="col">
                    <button type="button" class="btn btn-danger" id="duration-by-lc-delete-btn">
                        <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;">
                        </span>
                        Удалить
                    </button>
                </div>
            }
            <div class="col">
                <button type="button" class="btn btn-primary float-end" id="duration-by-lc-download-btn">
                    <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;">
                    </span>
                    Скачать
                    <i class="bi bi-download"></i>
                </button>
                <form asp-controller="DurationByLCs" asp-action="Download" method="get">
                    <button type="submit" class="d-none" id="duration-by-lc-download-submit-btn"></button>
                </form>
            </div>
        </div>
    </div>
</div>
