@using BGTG.Entities.Core

@model BGTG.Web.ViewModels.POSViewModels.EnergyAndWaterViewModels.EnergyAndWaterViewModel

<div class="card">
    <div class="card-body">
        <input type="hidden" id="energy-and-water-id" value="@Model.Id" />
        <h5 class="card-title fw-bold">
            Энергия и вода
        </h5>
        <p class="card-text">
            Энергия: <b>@Model.Energy.ToString(AppData.DecimalFormat) кВа</b>
        </p>
        <p class="card-text">
            Вода: <b>@Model.Water.ToString(AppData.DecimalFormat) л/с</b>
        </p>
        <p class="card-text">
            Дата создания: <b>@Model.CreatedAt</b>
        </p>
        <p class="card-text">
            Проектировщик: <b>@Model.CreatedBy</b>
        </p>
        <div class="row">
            @if (Model.CreatedBy == User.Identity!.Name)
            {
                <div class="col">
                    <button type="button" class="btn btn-danger" id="energy-and-water-delete-btn">
                        <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;">
                        </span>
                        Удалить
                    </button>
                </div>
            }
            <div class="col">
                <button type="button" class="btn btn-primary float-end" id="energy-and-water-download-btn">
                    <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;">
                    </span>
                    Скачать
                    <i class="bi bi-download"></i>
                </button>
                <form asp-controller="EnergyAndWaters" asp-action="Download" method="get">
                    <button type="submit" class="d-none" id="energy-and-water-download-submit-btn"></button>
                </form>
            </div>
        </div>
    </div>
</div>
