@using BGTG.Web.Infrastructure.Helpers
@using BGTG.POS.ProjectTool
@using BGTG.POS
@section Scripts {
    <script src="~/js/pos/estimate-calculations.js" asp-append-version="true"></script>
    <script src="~/js/pos/duration-by-tcp.js" asp-append-version="true"></script>
    <script src="~/js/pos/project.js" asp-append-version="true"></script>
}

<div id="pos">
    <div class="input-group mb-3">
        <span class="input-group-text">Шифр объекта</span>
        <input type="text" id="construction-object-cipher" class="form-control" placeholder="В формате: Ц.Ц-Ч.Ч, где Ц - цифра, Ч - число." />
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#estimate-calculations" type="button">Сметные расчеты</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#duration-by-tcp" type="button">Продолжительность по ТКП</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#project" type="button">Записка</button>
        </li>
    </ul>
    <div class="tab-content mt-3">
        <div id="estimate-calculations" class="tab-pane fade show active">
            <input name="estimateFiles" class="form-control mb-3" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="estimate-files" multiple>
            <div class="row mb-3">
                <div class="col">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" id="duration-by-lc-btn" disabled>
                            <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;">
                            </span>
                            Продолжительность
                        </button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                            <span class="visually-hidden"></span>
                        </button>
                        <div class="dropdown-menu" id="labor-costs-duration-dropdown" style="width: 25rem;">
                            <div class="d-flex align-items-center px-1">
                                <input class="form-control me-2" style="width: 5rem;" id="number-of-working-days" type="number" value="21.5" />
                                <label for="number-of-working-days">Количество рабочих дней в месяце</label>
                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex align-items-center px-1">
                                <input class="form-control me-2" style="width: 5rem;" id="working-day-duration" type="number" value="8" />
                                <label for="working-day-duration">Продолжительность рабочего дня, часов</label>
                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex align-items-center px-1">
                                <input class="form-control me-2" style="width: 5rem;" id="shift" type="number" value="1.5" />
                                <label for="shift">Сменность</label>
                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex align-items-center px-1">
                                <input class="form-control me-2" style="width: 5rem;" id="number-of-employees" type="number" value="4" />
                                <label for="number-of-employees">Количество работающих в бригаде</label>
                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex align-items-center px-1">
                                <input class="form-control me-2" style="width: 5rem;" id="technological-labor-costs" type="number" value="0" />
                                <label for="technological-labor-costs">Трудозатраты по технологической карте, человеко/часов</label>
                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex align-items-center px-1 form-check form-switch" style="padding-left: 3.3rem !important;">
                                <input class="form-check-input me-3" style="transform: scale(1.5);" type="checkbox" id="acceptance-time-included" checked>
                                <label class="form-check-label" for="acceptance-time-included">Включать время на приемку</label>
                            </div>
                        </div>
                    </div>
                    <form asp-controller="DurationByLCs" asp-action="Download" method="get">
                        <button type="submit" class="d-none" id="duration-by-lc-download-submit-btn"></button>
                    </form>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <div class="btn-group me-1">
                        <button type="button" class="btn btn-primary" id="calendar-plan-btn" disabled>
                            <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;">
                            </span>
                            Календарный план
                        </button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                            <span class="visually-hidden"></span>
                        </button>
                        <div class="dropdown-menu ps-2" id="calendar-plan-total-work-chapters" style="width: 17rem;">
                            <div class="form-check mb-2">
                                <input class="form-check-input" style="transform: scale(1.5);" type="radio" name="exampleRadios" id="main-total-work-1-to-9-chapter" value="9">
                                <label class="form-check-label" for="main-total-work-1-to-9-chapter">
                                    Итого по главам 1-9
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" style="transform: scale(1.5);" type="radio" name="exampleRadios" id="main-total-work-1-to-11-chapter" value="11">
                                <label class="form-check-label" for="main-total-work-1-to-11-chapter">
                                    Итого по главам 1-11
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" style="transform: scale(1.5);" type="radio" name="exampleRadios" id="main-total-work-1-to-12-chapter" value="12" checked>
                                <label class="form-check-label" for="main-total-work-1-to-12-chapter">
                                    Итого по последней сточке
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="float-end">
                        <button type="button" class="btn btn-primary" id="energy-and-water-btn" disabled>
                            <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;">
                            </span>
                            Энергия и вода
                        </button>
                        <form asp-controller="EnergyAndWaters" asp-action="Download" method="get">
                            <button type="submit" class="d-none" id="energy-and-water-download-submit-btn"></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="flex-column mb-3" id="estimate-failures" style="display: none;">
                <div class="mb-1" id="construction-start-date-failure" style="display: none;">
                    <div class="text-danger me-1">
                        Что-то не так с датой начала строительства. Указать дату:
                    </div>
                    <input class="form-control form-control-sm" style="flex: 0 1 12rem" min="1900-01" type="month" />
                </div>
                <div id="construction-duration-failure" style="display: none;">
                    <div class="text-danger me-1">
                        Что-то не так с продолжительностью строительства. Указать продолжительность:
                    </div>
                    <input class="form-control form-control-sm" style="flex: 0 1 12rem" min="1" max="21" step="0.1" type="number" />
                </div>
            </div>
            <div id="percentages-table" class="overflow-auto" style="display: none;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="3" scope="col" class="align-middle text-center">Наименование отдельных зданий, сооружений и видов работ</th>
                            <th colspan="22" scope="col" class="align-middle text-center">
                                Распределение капитальных вложений и обьемов СМР по месяцам строительства, тыс.руб.
                            </th>
                        </tr>
                        <tr id="month-row">
                        </tr>
                        <tr id="column-percents-row">
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="row" style="display: none;" id="calendar-plan-btns">
                <div class="col">
                    <button type="button" class="btn btn-primary" id="calculate-percentages-btn">
                        <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;">
                        </span>
                        Рассчитать задел
                        <i class="bi bi-percent"></i>
                    </button>
                </div>
                <div class="col">
                    <div class="float-end">
                        <button type="button" class="btn btn-primary" id="calendar-plan-download-btn">
                            <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;">
                            </span>
                            Скачать
                            <i class="bi bi-download"></i>
                        </button>
                        <form asp-controller="CalendarPlans" asp-action="Download" method="get">
                            <button class="d-none" id="calendar-plan-download-submit-btn" type="submit"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="duration-by-tcp">
            <select class="form-select mb-3" id="appendix-key">
                <option selected disabled>Выберите нормы</option>
                <option value="A">Нормы продолжительности строительства городских инженерных сетей и сооружений</option>
                <option value="B">Нормы продолжительности строительства объектов коммунального хозяйства</option>
            </select>
            <select class="form-select mb-3" id="appendix-category" disabled>
                <option selected disabled>Выберите объект</option>
            </select>
            <select class="form-select mb-3" id="pipeline-material" disabled>
                <option selected disabled>Выберите материал</option>
            </select>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Диаметр турбопровода, мм</span>
                        <input type="number" id="pipeline-diameter" min="0" class="form-control" disabled>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Длина трубопровода, км</span>
                        <input type="number" id="pipeline-length" min="0" step="any" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="float-end">
                <button type="button" id="duration-by-tcp-download-btn" class="btn btn-primary" disabled>
                    <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;">
                    </span>
                    Скачать
                    <i class="bi bi-download"></i>
                </button>
                <form asp-controller="DurationByTCPs" asp-action="Download" method="get">
                    <button type="submit" class="d-none" id="duration-by-tcp-download-submit-btn"></button>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="project">
            <div class="input-group mb-3">
                <span class="input-group-text">Полное наименование объекта</span>
                <input type="text" id="object-name" class="form-control">
            </div>
            <div class="d-flex">
                <i class="bi bi-info-circle text-primary" style="font-size: 1.6rem; margin-right: 0.3rem;" data-bs-toggle="tooltip" data-bs-placement="top" title="В шаблоне отсутсвуют краткие сведения о стр-ве, подготовка, таблица с машинами и механизмами (Разделы 3, 6, 14)."></i>
                <select class="form-select mb-3" id="project-template">
                    <option selected disabled>Выберите шаблон</option>
                    @foreach (var projectTemplate in EnumHelper<ProjectTemplate>.GetValuesWithDisplayNames())
                    {
                        <option value="@projectTemplate.Key">@projectTemplate.Value</option>
                    }
                </select>
            </div>
            <select class="form-select mb-3" id="chief-project-engineer">
                <option selected disabled>Выберите ГИПа</option>
                @foreach (var chiefProjectEngineer in EnumHelper<ChiefProjectEngineer>.GetValuesWithDisplayNames())
                {
                    <option value="@chiefProjectEngineer.Key">@chiefProjectEngineer.Value</option>
                }
            </select>
            <select class="form-select mb-3" id="designer-engineer">
                <option selected disabled>Выберите проектировщика</option>
                @foreach (var designerEngineer in EnumHelper<DesignerEngineer>.GetValuesWithDisplayNames())
                {
                    <option value="@designerEngineer.Key">@designerEngineer.Value</option>
                }
            </select>
            <div class="d-flex align-items-center mb-3">
                <i class="bi bi-info-circle text-primary" style="font-size: 1.6rem; margin-right: 0.3rem;" data-bs-toggle="tooltip" data-bs-placement="top" title="Если отключен, то в записке будет указано, что бытовой городок будет находится на территории Заказчика (Разделы 3 (посл. абзац), 13)."></i>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="household-town-included" checked>
                    <label class="form-check-label user-select-none" for="household-town-included">
                        Бытовой городок
                    </label>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <button type="button" id="title-page-download-btn" class="btn btn-primary">
                        <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;">
                        </span>
                        Скачать титульник
                        <i class="bi bi-download"></i>
                    </button>
                    <form asp-controller="TitlePages" asp-action="Download" method="get">
                        <button type="submit" class="d-none" id="title-page-download-submit-btn"></button>
                    </form>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <button type="button" id="table-of-contents-download-btn" class="btn btn-primary">
                        <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;">
                        </span>
                        Скачать содержание
                        <i class="bi bi-download"></i>
                    </button>
                    <form asp-controller="TableOfContents" asp-action="Download" method="get">
                        <button type="submit" class="d-none" id="table-of-contents-download-submit-btn"></button>
                    </form>
                </div>
                <div class="col">
                    <div class="float-end">
                        <button type="button" id="project-download-btn" class="btn btn-primary">
                            <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;">
                            </span>
                            Скачать проект
                            <i class="bi bi-download"></i>
                        </button>
                        <form asp-controller="Projects" asp-action="Download" method="get">
                            <button type="submit" class="d-none" id="project-download-submit-btn"></button>
                        </form>
                    </div>
                </div>
            </div>
            <p>
                Для добавления <b>своего шаблона</b>, <b>ГИПа</b> в шаблон, <b>себя</b> в шаблон, обратитесь в 37 отдел к Капитану С.С. Там же ждут предложения по поводу улучшения уже существующих шаблонов.
            </p>
        </div>
    </div>
</div>